@import "../general/mixines";

$card-color: #ffed49;

.item-card {
  width: 300px;
  background-color: $card-color;

  .item-card__img-div {
    width: 100px;
    height: 100px;
    @include flex(row, center, center);
    .item-card__img {
      width: 100%;
    }
  }
  
  .item-card__popular-img-div {
    width: 100px;
    height: 100px;
    @include flex(row, center, center);
    .item-card__popular-img {
      width: 100%;
      height: 100%;
    }
    .item-card__popular-img_hidden {
      display: none;
    }

  }

  .item-card__to-cart-btn {
    position: relative;
    width: 140px;
    height: 36px;
    border-radius: 18px;
    border: none;
    box-shadow: 2px 2px 5px #000000;
    cursor: pointer;
  }

  .item-card__to-cart-btn:hover:not(:disabled) {
    transform: scale(103%);
  }

  .item-card__to-cart-btn:not(:disabled) {
    background-color: #f6e264;
  }

  .item-card__to-cart-btn:disabled {
    color: #ffffff;
    background-color: #5ded53;
  }
}